<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleting profanity</title>
    <link rel="stylesheet" href="popup.css">
    <script src="popup.js"></script>
</head>
<body>
    <header>
        <h5 class="header-nav">
            Deleting profanity</h5>
            <img style="position: absolute; top:2px; left:2;" src="/views/Icon/icon.png" width="20px">
    </header>
    <br>
    <article>
        <hr>
        Pai
        <section>
            <div class="checkbox-example">
              <input type="checkbox" value="1" id="checkboxOneInput" />
              <label for="checkboxOneInput"></label>
            </div>
          </section>
          Filho
    </article>
    <br>
        <button id="btn-settings"> Settings </button>
</body>
</html>